<h3>PRODUCT</h3>
<div class="row">
  <div class="col-8 col-sm-8">
    <mat-card class="example-card" *ngFor="let user of users.slice(0, 10);" style="margin-bottom: 15px;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{  user.name  }}</mat-card-title>
        <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image [src]="photos[user.id]?.url" alt="dsad">
        <h4>{{ user.name }}</h4>
        <p>{{ user.email }}</p>
        <p>{{ user.company.name }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <a [routerLink]="[user.id]" routerLinkActive="router-link-active" > Details </a>
      </mat-card-actions>

    </mat-card>
  </div>
</div>